@page "/houselist"
@inject IHouseService HouseService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService



<table class="table">
    <thead>
        <tr>
            <th>City</th>
            <th>Status</th>
            <th>Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var House in HouseService.Houses)
        {
            <tr>
                <td>@House.City</td>
                <td>@House.Status</td>
                <td>@House.Year?.ToShortDateString()</td>
                <td>
                    <button class="btn btn-primary"
                        @onclick="(() => ShowHouse(House.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary"
                        @onclick="(() => ShowUser())">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="CreateNewHouse">Create New </button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await HouseService.LoadHouse();
    }

    void ShowHouse(int id)
    {
        NavigationManager.NavigateTo($"houselistedit/{id}");
    }

      void ShowUser()
    {
        NavigationManager.NavigateTo($"request");
    }

    void CreateNewHouse()
    {
        NavigationManager.NavigateTo("houselistedit");
    }

   
}
